body{
    background-color:antiquewhite;(226, 67, 43);
    font-family:BBH Sans Hegarty;
    font: size 40px;
}
header{
   font-size:50px; 
   text-align:center;
   padding:40px;
}
.top1{
    background-color: black;
}